<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="msapplication-tap-highlight" content="no">

  <title>Articles</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/src/css/nav.css">
  <link rel="stylesheet" href="/src/css/articles.css">
  <link rel="stylesheet" href="/src/css/footer.css">

</head>

<body>

  <!-- NAVBAR -->

  <nav>
    <ul class="nav-links">
      <li>
        <a href="/">HOME.</a>
      </li>
      <li>
        <a href="/src/view/dj.html">DJEE.</a>
      </li>
      <li>
        <a href="/src/view/discography.html">DISCOGRAPHY.</a>
      </li>
      <li>
        <a href="/src/view/articles.html">ARTICLES.</a>
      </li>
      <li>
        <a href="/src/view/gallery.html">GALLERY.</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <header>
    <h1>Articles</h1>
  </header>

  <!-- ARTICLES -->

<div id="top"></div>
<section class="gallery">
	<div class="row">
		<ul>
			<a href="#" class="close"></a>
			<li>
				<a href="#item02">
					<img src="/src/image/berlinclub.jpg" alt="">
				</a>
			</li>

			<li>
				<a href="#item02">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/3892302/contact.png" alt="">
				</a>
			</li>

			<li>
				<a href="#item02">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/4154721/dive--001.png" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/4356121/darko--dr.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item02">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/3695553/news.png" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/4360101/liberosis_--_12.png" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/3148799/technical-book.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item01">
					<img src="https://cdn.dribbble.com/users/545884/screenshots/2883479/cover.jpg" alt="">
				</a>
			</li>
		</ul>
	</div> <!-- / row -->

	<!-- Item 01 -->
	<div id="item01" class="port">

		<div class="row">
			<div class="description">
				<h1>Item 01</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>

			<img src="https://cdn.dribbble.com/users/545884/screenshots/3981307/lorena2.png" alt="">
		</div>
	</div> <!-- / row -->

	</div> <!-- / Item 02 -->

	<!-- Item 02 -->
	<div id="item02" class="port">

		<div class="row">
			<div class="description">
				<h1>Le Sénat de Berlin accepte un fonds d'urgence de 100 millions d'euros pour sauver la culture créative</h1>
				<p>La culture des clubs à Berlin était déjà menacée au début de l'année, mais l'impact du COVID-19 ne fait qu'aggraver la crise. Il n'y a aucun moyen d'enrober cela. Cependant, le Sénat offre maintenant une subvention d'urgence pour éviter la fermeture des micro-entreprises. À partir de demain, vendredi 27 mars, les petites entreprises comme les clubs et autres institutions créatives peuvent demander jusqu'à 15 000 € pour une subvention de 3 mois pour les aider à traverser la fermeture. Le gouvernement fédéral offre également une aide aux artistes, ainsi qu'aux espaces créatifs de Berlin, dont l'existence repose sur le soutien de la communauté en soutenant des plates - formes exploitables telles que United We Stream . Pour plus d'informations sur les initiatives soutenant la culture des clubs dans le monde, rendez-vous sur Nighttime.org .</p>
			</div>
			<img src="/src/image/berlinclub.jpg" alt="">
		</div> <!-- / row -->

	</div> <!-- / Item 02 -->

</section> <!-- / projects -->
  <!-- // ARTICLES -->

  <!-- Footer -->

  <div class="footer">
    <div class="footer-content">

      <div class="footer-section about">
        <h2 class="logo-text"><span>Electronic</span> Sound and Beats</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur.
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; +336 31 78 75 70</span>
          <span><i class="fas fa-envelope"></i> &nbsp; yannickdec33@gmail.com</span>
        </div>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/c/H%C3%96RBERLIN/featured"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h3>Quick Links</h3>
        <br>
        <ul>
          <a href="#">
            <li>Events</li>
          </a>
          <a href="#">
            <li>Blog</li>
          </a>
          <a href="https://www.festicket.com/fr/genres/techno/">
            <li>Festivals</li>
        </a>
          <a href="#">
            <li>Gallery</li>
          </a>
          <a href="#">
            <li>Terms and Conditions</li>
          </a>
        </ul>
      </div>

      <div class="footer-section contact-form">
        <h3>Contact me</h3>
        <br>
        <form action="index.html" method="POST">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
          <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
          <button type="submit" class="btn btn-big contact-btn">
            <i class="fas fa-envelope"></i>
            Send
          </button>
        </form>
      </div>

    </div>

    <div class="footer-bottom">
      &copy; Electronic Sound and Beats | Designed by Yannick Decombes
    </div>
  </div>

  <!-- // Footer -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="/src/js/nav.js"></script>
  <script src="/src/js/articles.js"></script>

  <script>
    $(function () {
      $('.container').before('<hr>');
    });

    $('a').attr('target', function () {
      if (this.host == location.host) return '_self'
      else return '_blank'
    });
  </script>



</body>

</html>