<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Dance floor</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/src/css/nav.css">
  <link rel="stylesheet" href="/src/css/dance.css">
  <link rel="stylesheet" href="/src/css/footer.css">
  <link rel="stylesheet" href="/src/css/parallax.css">

</head>

<body>

  <!-- NAVBAR -->

  <nav>
    <ul class="nav-links"> 
        <li>
            <a href="/">HOME.</a>
        </li>
        <li>
            <a href="/src/view/dj.html">DJEE.</a>
        </li>
        <li>
            <a href="/src/view/discography.html">DISCOGRAPHY.</a>
        </li>
        <li>
            <a href="/src/view/dance.html">DANCE.</a>
        </li>
        <li>
            <a href="/src/view/gallery.html">GALLERY.</a>
        </li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

  <header class="lehaut">
    <h1>Dance Floor</h1>
  </header>

  <!-- DANCE -->

<audio autoplay src="/src/audio/Bass-Chamber.mp3"></audio>

  <img src="/src/image/loader2.gif" alt=""></img>

<!-- // DANCE -->
  

  <!-- FOOTER -->

  <div class="footer">
    <div class="footer-content">

      <div class="footer-section about">
        <h3 class="logo-text"><span>Electronic</span> Sound and Beats</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur.
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; +336 31 78 75 70</span>
          <span><i class="fas fa-envelope"></i> &nbsp; yannickdec33@gmail.com</span>
        </div>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/c/H%C3%96RBERLIN/featured"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h3>Quick Links</h3>
        <br>
        <ul>
          <a href="https://bandcamp.com/">
            <li>Bandcamp.com</li>
          </a>
          <a href="https://www.traxmag.com/">
            <li>traxmag.com</li>
          </a>
          <a href="https://www.festicket.com/fr/genres/techno/">
            <li>Festicket.com</li>
        </a>
        <a href="https://www.native-instruments.com/fr/">
          <li>Native Instruments</li>
        </a>
          <a href="#">
            <li>Terms and Conditions</li>
          </a>
        </ul>
      </div>

      <div class="footer-section contact-form">
        <h3>Contact</h3>

        <br>

        <div class="container-form">

          <form action="mail.php" method="POST" class="form-bloc">

              <div class="form-groupe">
                  <input  type="text" name="name"  placeholder="Name" required maxlength="16" id="mail-name">
              </div>

              <div class="form-groupe">
                  <input type="text" name="email" placeholder="Mail" required maxlength="16" id="mail-email">
              </div>

              <div class="form-groupe">
                  <textarea name="message" placeholder="Message" id="mail-message"></textarea>
                      
              </div>

              <div class="form-groupe">
                  <button type="submit" name="submit" id="sending_form">Send Email</button>
                  <p class="form-message"></p>
              </div>

          </form>
      </div>
      </div>

    </div>

    <div class="footer-bottom">
      &copy; Electronic Sound and Beats 2020 | Designed by Yannick Decombes
    </div>
  </div>

  <!-- // FOOTER -->

  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">
      </script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="/src/js/nav.js"></script>
  

  
</body>
</html>
