<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    <title>discography</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/css/dj.css">
    <link rel="stylesheet" href="/src/css/nav.css">
    <link href="/src/css/footer.css" rel="stylesheet">
    
</head>
<body>
    
  <!-- NAVBAR -->

  <nav>
    <ul class="nav-links">
      <li>
        <a href="/">HOME.</a>
      </li>
      <li>
        <a href="/src/view/dj.html">DJEE.</a>
      </li>
      <li>
        <a href="/src/view/discography.html">DISCOGRAPHY.</a>
      </li>
      <li>
        <a href="/src/view/articles.html">ARTICLES.</a>
      </li>
      <li>
        <a href="/src/view/blog.html">BLOG.</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <section class="container">
    
  </section>

    <!-- Footer -->

    <div class="footer">
      <div class="footer-content">
  
        <div class="footer-section about">
          <h2 class="logo-text"><span>Electronic</span> Sound and Beats</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur.
          </p>
          <div class="contact">
            <span><i class="fas fa-phone"></i> &nbsp; +336 31 78 75 70</span>
            <span><i class="fas fa-envelope"></i> &nbsp; yannickdec33@gmail.com</span>
          </div>
          <div class="socials">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/c/H%C3%96RBERLIN/featured" target="blank"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
  
        <div class="footer-section links">
          <h3>Quick Links</h3>
          <br>
          <ul>
            <a href="#">
              <li>Events</li>
            </a>
            <a href="#">
              <li>Blog</li>
            </a>
            <a href="#">
              <li>Concert</li>
            </a>
            <a href="#">
              <li>Gallery</li>
            </a>
            <a href="#">
              <li>Terms and Conditions</li>
            </a>
          </ul>
        </div>
  
        <div class="footer-section contact-form">
          <h3>Contact me</h3>
          <br>
          <form action="index.html" method="POST">
            <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
            <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
            <button type="submit" class="btn btn-big contact-btn">
              <i class="fas fa-envelope"></i>
              Send
            </button>
          </form>
        </div>
  
      </div>
  
      <div class="footer-bottom">
        &copy; Electronic Sound and Beats | Designed by Yannick Decombes
      </div>
    </div>
  
    <!-- // Footer -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="/src/js/nav.js"></script>

    </body>
    </html>