@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}*/

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000;
    font-family: 'Cinzel', serif;
    position: fixed;
    z-index: 100000;
}   

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

/*@media screen and (max-width:1200px) {
    .nav-links {
        width: 60%;
    }
}*/

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        position: absolute;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/************************************************/

ul {
    list-style: none;
    padding: 20px 0;
  }
  
  li {
    display: inline;
    padding: 10px 25px;
    font-size: 14px;
    color: #636363;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
    transition: all 1s ease;
    border-radius: 100px 100px 100px 100px / 50px 50px 50px 50px;
  }
  
  li:hover {
    color: #000;
    background: rgb(172, 4, 4);
    transition: all 1s ease;
  }
  
  li.active {
    color: #000;
    background: #9d9da5;
  }