@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
}

/*body {
  margin: 0;
  padding: 0;
}
/********** HEADER *********/

/*header {
  background: url('/src/image/black.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}*/

/*h1 {
  text-align: center;
  color: #fff;
  font-family: 'Cinzel', serif;
  font-size: 13rem;
  margin: 0;
  position: relative;
 
  letter-spacing: 5px;
  width: 100%;
}*/

/********** MEDIA HEADER **********/

@media screen and (max-width: 1000px) {
  .homepage {
      height: 700px;
      min-height: 0;
      max-width: 100%;
      padding: 0%;
  }
  h1 span {
      font-size: 70px;
      margin: 0 30px 0 30px;
      padding-top: 100px;
  }
  header span {
      margin: 20px 0 20px 30px;
  }

}

@media screen and (max-width: 700px) {
  .homepage {
      height: 600px;
  }
  h1 span{
      font-size: 50px;
      margin: 0 30px;
  }
  header span {
      font-size: 20px;
  }
  
}

@media screen and (max-width: 500px) {
  h1 {
      font-size: 35px;
  }
  header span {
      font-size: 16px;
  }
  
}

/********** Section **********/

.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75rem;
  height: 45rem;
  text-align: center;
  background: rgba(0,0,0,0.3);
  color: white;
  line-height: 1.5rem;
  font-family: 'Cinzel', serif;
  font-weight: 100;
  padding: 3.5rem;
}

h2 {
  font-size: 3rem;
  font-family: 'lato', sans-serif;
  line-height: 1.25rem;
}

.text {
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  margin: 0 3rem;
  line-height: 2.5rem;
}

.learn {
  background: transparent;
  margin-top: 5rem;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.3);
  padding: 2.5rem;
  font-weight: 500;
  width: 25rem;
  transition: all 0.4s ease-in;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.learn:hover {
  background: rgba(255,255,255,0.9);
  color: black;
}

/* Premiere section */

.img1 {
  background: url('/src/image/img1.jpg');
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Deuxieme section */

.img2 {
  background: url('/src/image/img2.jpg');
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Troisieme section */

.img3 {
  background: url('/src/image/img3.jpg');
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Quatrieme section */

.img4 {
  background: url('/src/image/img4.jpg');
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Cinquieme section */

.img5 {
  background: url('/src/image/img5.jpg');
  height: 108rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Animation */

.box1 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box2 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box3 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box4 {
  opacity: 0;
  transition: all 0.4s linear;
}
.box5 {
  opacity: 0;
  transition: all 0.4s linear;
}

.fade-in {
  opacity: 1;
}
/********** **********/

@media screen and (max-width: 1300px) {
  .text {
      font-size: 25px;
      margin: 0 30px;
  }
  
}
@media screen and (max-width: 700px) {

.text {
  font-size: 22px;
  margin: 0 25px;
}
}
@media screen and (max-width: 550px) {

  .box .box1 {
      flex-direction: column;
  }
  .text {
      font-size: 20px;
      margin: 20px 0px;
  }
}


